#main {
  width: 626px;
  height: 486px;
  margin: 64px auto 64px;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  margin: 32px auto 16px auto;
}

h1 span {
  font-weight: bold;
  color: #EE24FF;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #828282;
  text-align: justify;
  font-weight: 400;
  line-height: 22px;
}

p span{
  color: #3F3D56;
  font-weight: bold;
}

a {
  color: #3F3D56;
  font-weight: bold;
  font-size: 15px;
}

a + a{
  margin: 0px 0px 0px 42px;
}

#waves {
  margin: 40.83px auto;

}